@charset "utf-8";

a:link, a:visited, a:hover, a:active {color:#000080;}

#back a {color:#ffffff;}

a img {border: none; }

body  {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    height: 100%;
}

#header {
    position: fixed;
    background: #000000;
    color: #ffffff;
    height: 50px;
    width: 100%;
} 

#header img {
    width: 200px;
    position: absolute;
    top: 10px;
    left: 15px;
}

#header #search {
    position: absolute;
    top: 25%;
    right: 1%;
}

#header #menu {
    position: absolute;
    top: 25%;
    right: 45%;
}

#header #back {
    position: absolute;
    right: 1%;
} 

#map {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index:-1;
}
    
#map .leaflet-top {
    top: 50px;
}

#map .leaflet-right {
    right: 310px;
}

#map .leaflet-left {
    left: 310px;
}

#panel {
    background: #ffffff;
    position: absolute;
    top: 60px;
    left: 10px;
    padding: 0px 10px;
    width: 280px;
}

#charts {
    position: absolute;
    background: #ffffff;
    top: 60px;
    right: 10px;
    width: 300px;
    height: 490px;
}

#global-chart {
    position: relative; 
    width: 275px; 
    height: 125px;
    margin-top: 1.5em;
}

#local-chart {
    position: relative; 
    width: 275px; 
    height: 350px;
}

#legend {
    background: #ffffff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 0px 10px;
    width: 280px;
}

#legend img {
    width: 270px;
    height: 10px;
    position: relative;
    left: 7px;
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */ 
}

#legend #source {
    font-size: 90%;
} 

#content {
    background: #ffffff;
    position:relative;
    top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px;
    width: 840px;
}
 
#spinner {
    position: relative;
    float: right;
    margin: 20px 20px 0 20px;
}

